<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.parse.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>

    <link rel="icon" href="../../favicon.ico">

    <title>发布或修改文章</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/custom.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/ie-emulation-modes-warning.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top"
     th:replace="/fragments/nav :: nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar"
             th:replace="/fragments/left :: left ('articles')">
            <!--<ul class="nav nav-sidebar">-->
                <!--<li class="active"><a href="#">功能1<span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="#">功能1</a></li>-->
                <!--<li><a href="#">功能1</a></li>-->
                <!--<li><a href="#">功能1</a></li>-->
            <!--</ul>-->
            <!--<ul class="nav nav-sidebar">-->
                <!--<li><a href="">功能1</a></li>-->
                <!--<li><a href="">功能1</a></li>-->
                <!--<li><a href="">功能1</a></li>-->
                <!--<li><a href="">功能1</a></li>-->
                <!--<li><a href="">功能1</a></li>-->
            <!--</ul>-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header ">发布文章</h2>

            <div style="width: 100%; float: left;">
                <div style="margin-right: 320px;">
                    <form id="form1">
                        <input type="hidden" id=hfText name="hfText" th:value="${article.text}">
                        <input type="hidden" id=articleId name="articleId" th:value="${article.uuid}">
                        <table style="border-collapse:separate; border-spacing:0px 10px;">
                            <tr>
                                <td style="border: 0px solid;">文章标题:</td>
                                <td width="13px"></td>
                                <td style="border: 0px solid;" width="230px" colspan="2">
                                    <input id="articleTitle" type="text" name="title" th:value="${article.name}" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <td style="border: 0px solid;">文章来源:</td>
                                <td width="13px"></td>
                                <td style="border: 0px solid;" width="230px" colspan="2">
                                    <input id="articleSource" type="text" name="source" th:value="${article.source}" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <td style="border: 0px solid;">类别  :</td>
                                <td width="13px"></td>
                                <td style="border: 0px solid;">
                                    <select id="articleCategory" name="categoryId">
                                        <option th:value="${category.uuid}" th:text="(${category.parentId}?'--':'')+${category.name}" th:each="category:${categories}"
                                                    th:selected="${category.uuid == article.category}">类别</option>
                                    </select>
                                </td>
                            </tr>
                        </table>

                        <div align="right">
                            <button type="button" class="btn btn-success" onclick="previewHtml()">预览</button>&nbsp;&nbsp;
                        </div>

                        <div style="height: 13px"></div>

                        <script id="editor" type="text/plain" style="width:100%;height:500px;"></script>
                        <br />

                        <div align="right">
                            <button type="button" class="btn btn-default" onclick="history.go(-1)">取消</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-success" onclick="saveAgreement(1)">保存草稿</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-success" onclick="saveAgreement(2)">发布</button>
                        </div>
                    </form>
                </div>
            </div>
            <div style="width: 320px; float: left; margin-left: -320px;padding-left: 30px">
                <table style="border-collapse:separate; border-spacing:0px 10px;">
                    <tr>
                        <td style="border: 0px solid;" colspan="2">
                            <div style="width: 100%;height: 21px;">
                                <span style="width: 144px;cursor: pointer"><a>点击插入文章图片或视频</a></span>
                                <input class="input-file" type="file" name="file" id="inputImage" />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border: 0px solid;" colspan="3">
                            <input type="text" name="tag" id="urlText" style="width: 100%;"/>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 76px; border: 0px solid;">封面图片：</td>
                        <td style="border: 0px solid;" colspan="2">
                            <div style="width: 70px;height: 21px;">
                                <span style="width: 90px;cursor: pointer"><a>点击设置</a></span>
                                <input class="input-file" type="file" name="file" id="inputFile" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div>大小: 不超过5M,    格式: bmp, png, jpeg, jpg, gif, 720*720</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 0px solid;" colspan="3">
                            <img id="articleCover" alt="" width="100%" height="160px" th:src="${article.cover}">
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 76px; border: 0px solid;">添加标签：</td>
                    </tr>

                    <tr>
                        <td style="border: 0px solid;" colspan="3">
                            <input type="text" name="tag" id="articleTags" th:value="${article.tags}"
                                    style="width: 100%; height: 160px;"/>
                        </td>
                    </tr>
                </table>

                <!--<button type="button" class="btn btn-primary" onclick="addTag()">添加</button>-->

                <!--<div id="label_div">-->
                    <!--<span class="label label-default">Default</span>-->
                    <!--<span class="label label-primary">Primary</span>-->
                    <!--<span class="label label-success">Success</span>-->
                    <!--<span class="label label-info">Info</span>-->
                    <!--<span class="label label-warning">Warning</span>-->
                    <!--<span class="label label-danger">Danger</span>-->
                <!--</div>-->

            </div>
        </div>
    </div>
</div>
<div style="display: none" th:replace="/fragments/footer :: footer">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
</div>

<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    ue.addListener("ready", function () {
        var value = $("#hfText").val();
        ue.execCommand('insertHtml', value);
    });

    function saveAgreement(type){
        var articleId = $("#articleId").val(),
            articleTitle = $("#articleTitle").val(),
            articleSource = $("#articleSource").val(),
            articleTags = $("#articleTags").val(),
            articleCategory = $("#articleCategory").val(),
            articleContent = ue.getContent(),
            articleCover = $("#articleCover").attr("src");

        console.log(articleId + " --- " + articleTitle + " --- " + articleSource + " --- " + articleTags +
                " --- " + articleCategory + " --- " + articleContent + " --- " + articleCover);

        jQuery.ajax({
            type: "POST",
            url: "/manage/articles/save",
            data: {'articleId': articleId,'title': articleTitle,'source': articleSource, 'content': articleContent,
                    'tags': articleTags, 'category': articleCategory, 'cover' : articleCover,
                    'saveType': type},
            success: function(msg){
                if(msg.code == 0){
                    alert(type == 1 ? "保存草稿成功" : "文章发布成功");
                    history.back();
                }else{
                    alert("操作失败")
                }
            }
        });
    }

    $("#inputFile").uploadify({
        auto:true,
        swf:'/uploadify/uploadify.swf',
        button_image_url : '/uploadify/spacer.gif',
        uploader:'/file/upload?;jsessionid=='+uuid(),
		fileObjName: 'file',
        buttonText:"",
        fileTypeExts:"*.jpg;*.gif;*.png",
        fileTypeDesc:".jpg",
        hideButton:true,
        multi:true,
        removeCompleted:true,
        removeTimeout:1,
        fileSizeLimit:2000,
        queueID:"input-file-queue",
        //cancelImg:'/uploadify/uploadify-cancel.jpg',
        //检测FLASH失败调用
        onFallback:function(){
            alert("您未安装FLASH控件，无法上传图片！请安装FLASH控件后再试。");
        },
        onUploadSuccess:function(file,data,response){
            var json = eval("("+data+")");//转换为json对象
            if(json.code > 0){
                alert(json.msg);
                return;
            }
            $("#articleCover").attr("src",json.data.files[0]);
        }
    });

    $("#inputImage").uploadify({
        auto:true,
        swf:'/uploadify/uploadify.swf',
        button_image_url : '/uploadify/spacer.gif',
        uploader:'/file/upload?;jsessionid=='+uuid(),
		fileObjName: 'file',
        buttonText:"",
        fileTypeExts:"*.jpg;*.gif;*.png;*.mp4;*.3gp;*.rmvb;*avi",
        fileTypeDesc:"*.jpg;*.gif;*.png;*.mp4;*.3gp;*.rmvb;*avi",
        hideButton:true,
        multi:true,
        removeCompleted:true,
        removeTimeout:1,
        fileSizeLimit:"200MB",
        queueID:"input-file-queue",
        //cancelImg:'/uploadify/uploadify-cancel.jpg',
        //检测FLASH失败调用
        onFallback:function(){
        },
        onUploadSuccess:function(file,data,response){
            var json = eval("("+data+")");//转换为json对象
            if(json.code > 0){
                alert(json.msg);
                return;
            }

            $("#urlText").val(json.data.files[0]);
        }
    })

    //UUID
    function uuid() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }

    function addTag() {
        var div = document.getElementById("label_div");
        var label_container = document.createElement("div"),
                label = document.createElement("span"),
                del_btn = document.createElement("img");
        label.text = "哈哈";
        label_container.appendChild(label).appendChild(del_btn);
        div.appendChild(label_container);
    }

    function previewHtml() {
        var newWin=window.open('','','');  //打开一个窗口并赋给变量newwin。
        newWin.opener = null // 防止代码对论谈页面修改
        newWin.document.write(ue.getAllHtml());  //向这个打开的窗口中写入代码code，这样就实现了运行代码功能。
        newWin.document.close();
    }
</script>
</body>
</html>
