<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:include="/pufa/frag/head"></head>
	<body class="home blog index">
		<link rel='stylesheet' id='sitecss-css' href='pufa/css/sign.css' type='text/css' media='all' />
		<nav th:replace="/pufa/frag/nav"></nav>

		<!-- 正文开始 -->
		<div class='container main-content home'>
			<div class="row">
				<!-- 完善信息 -->
				<div class="col-md-offset-3 col-md-6 col-sm-12">
					<div class="row step-tab-fix">
						<ul id="stepTab" role="tablist">
							<li class="blue">
								<a role="tab">1 设置密码</a>
							</li>
							<li class="blue">
								<img src="pufa/images/blue_blue.png" />
								<a role="tab" data-toggle="tab"> 2 完善资料</a>
							</li>
							<li class="active blue">
								<img src="pufa/images/blue_blue.png" />
								<a role="tab" data-toggle="tab"> 3 完成</a>
							</li>
						</ul>
						<div style="clear: both;"></div>
					</div>
					<div class="alert alert-danger" role="alert" id="sign-msg" style="display: none"></div>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="signin-content" >
							<form class="form-signin" role="form" style="text-align: center;">
								<br/><br/><br/><br/>
								<h3>恭喜你注册成功啦！</h3>
								<p>你获得了<a style="color: red;" th:text="${session.reward}">0</a>个普法币！</p>
								<br />
								<a style="color: red;" href="/article?articleId=e03980f7-26c4-4dae-af03-2cc7b4678301" target="_blank">普法币是什么？</a>
								<br />
								<br />
								<a href="/" class="btn btn-lg btn-warning btn-block" role="button">回到首页</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 页尾 -->
		<footer th:replace="/pufa/frag/footer"></footer>
		<script type="text/javascript" src="pufa/js/jquery.form.js"></script>
		<script type="text/javascript" src="pufa/js/pufa-common.js"></script>
		<script type="text/javascript" src="pufa/js/sign.js"></script>
	</body>

</html>