<div layout:decorator="/fragments/layout" layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml">
	<div class="container-fluid">
		<div class="row">
			<div class="container col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h2 class="sub-header ">
					购买记录
				</h2>
				
				<div id="toolbar">
					<button id="remove" class="btn btn-danger" disabled>
						<i class="glyphicon glyphicon-remove"></i> 删除
					</button>
				</div>

				<div class="table-responsive">
					<table class="table table-striped" id="listTable" data-search="true" data-show-refresh="false" data-show-toggle="true" data-show-columns="false" data-show-pagination-switch="true"
						data-pagination="true" data-content-id="uuid" data-page-size="20" data-page-list="[25, 40, 60, 100, ALL]" data-show-footer="false" data-response-handler="responseHandler">
						<thead>
							<tr>
								<th data-field="state" data-checkbox="true"></th>
								<th data-field="productId" class="text-center">商品ID</th>
								<th data-field="productNum" class="text-center">商品数量</th>
								<th data-field="updated" class="text-center" data-formatter="dateFormatter">订单时间</th>
								<th data-field="status" class="text-center" data-formatter="statusFormatter">状态</th>
								<th data-field="action" class="text-center" data-valign="center" data-formatter="actionFormatter" data-events="actionEvents">操作</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="/css/table/bootstrap-table.css">

<script src="/js/table/bootstrap-table.js"></script>
<script src="/js/table/locale/bootstrap-table-zh-CN.js"></script>


<script type="text/javascript" th:inline="javascript">
	var dataSource = [[${userProducts}]];

	function initTable() {
		var $table = $('#listTable'),
				$remove = $('#remove'),
				selections = [];

		$table.bootstrapTable({
			height: getHeight(),
			data: dataSource
		});

		$(window).resize(function () {
			$table.bootstrapTable('resetView', {
				height: getHeight()
			});
		});

		$table.on('check.bs.table uncheck.bs.table ' +
				'check-all.bs.table uncheck-all.bs.table', function () {
			$remove.prop('disabled', !$table.bootstrapTable('getSelections').length);

			// save your data, here just save the current page
			selections = getIdSelections();
			// push or splice the selections if you want to save all data selections
		});

		$remove.click(function () {
			if (confirm("确定删除选中数据吗?")){
				var ids = getIdSelections();
				jQuery.ajax({
					type: "POST",
					url: "/manage/product/delete",
					data: {'ids': ids},
					success: function(msg){
						if(msg.code == 0){
							alert("删除成功");

							$table.bootstrapTable('remove', {
								field: 'uuid',
								values: ids
							});
							$remove.prop('disabled', true);
						}else{
							alert("操作失败")
						}
					}
				});
			}
		});

		function getIdSelections() {
			return $.map($table.bootstrapTable('getSelections'), function (row) {
				return row.uuid
			});
		}

		function getHeight() {
			return $(window).height() - $('h1').outerHeight(true);
		}
	}

	function actionFormatter(value, row, index) {
		return [
			'<a class="edit ml10" href="javascript:void(0)" title="Edit">发货</a> ',
			'<a class="remove ml10" href="javascript:void(0)" title="Remove">',
			'<i class="glyphicon glyphicon-remove"></i>',
			'</a>'
		].join('');
	}

	window.actionEvents = {
		'click .edit': function (e, value, row, index) {
			if (confirm("确定发货吗?")){
				jQuery.ajax({
					type: "POST",
					url: "/manage/product/delivery",
					data: {'ids': row.uuid},
					success: function(msg){
						if(msg.code == 0){
							alert("发货状态修改成功。");
						}else{
							alert("操作失败！");
						}
					}
				});
			}
		},
		'click .preview': function (e, value, row, index) {
			previewHtml(row.text);
		},
		'click .remove': function (e, value, row, index) {
			if (confirm("确定删除吗?")){
				jQuery.ajax({
					type: "POST",
					url: "/manage/product/deleteUserProduct",
					data: {'ids': row.uuid},
					success: function(msg){
						if(msg.code == 0){
							alert("删除成功");

							$("#listTable").bootstrapTable('remove', {
								field: 'uuid',
								values: [row.uuid]
							});
						}else{
							alert("操作失败")
						}
					}
				});
			}
		}
	};

	$(function(){

		initTable();

		//搜索
		$(".pager a").click(function(){
		//图片
		var page = $(this).attr("page");
		if(page ==undefined || page==null){
			return;
		}

		var pageCount = $("#pageCount").val();
		if(parseInt(page) < 1 || parseInt(page) > parseInt(pageCount)){
			return;
		}
		getList(page);
		});

		$("#toAddArticle").click(function() {
			location.href = "/manage/product/add?usrProductId=";
		});
  	});

  //查询
  function getList(pageNo) {
	  var title = $("#title").val();
	  var userId = $("#userId").val();
	  var status = $("#status option:selected").val();
	  var path = "title=" + title + "&userId=" + userId + "&status=" + status + "&pageNo=" + pageNo + "&pageSize=10";
	  location.href = "/stream/?" + path;
	  return;
  }

	function statusFormatter(value, row, index) {
		if (0 == value){
			return "待发货";
		}
		if (1 == value){
			return "已发货";
		}
		return "未知";
	}
	
	function dateFormatter(value, row, index) {
		return value.substring(0, 19).replace("T", " ");
	}

	function previewHtml(content) {
		var newWin=window.open('','','');  //打开一个窗口并赋给变量newwin。
		newWin.opener = null // 防止代码对论谈页面修改
		newWin.document.write(content);  //向这个打开的窗口中写入代码code，这样就实现了运行代码功能。
		newWin.document.close();
	}
</script>