<div th:fragment="boot">

    <!-- system modal start -->
    <div id="ycf-alert" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>[Message]</p>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" style="display: table; width: auto;margin-left: auto;margin-right: auto;">
                        <button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- system modal end -->

    <script src="/js/jquery-1.10.1.min.js"></script>
    <script src="/js/lib2.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

</div>