<div class="friend">
		<h5 class='section-header video' style="width: 80%; margin: 0 auto">
			<a href="#">
				<span class='section-name-container'><h3 class='section-name'>友情链接</h3> </span>
			</a>
		</h5>
		<style>
			.friend-links{
				font-size: 14px;
			}
			.friend-links a{
				color: black;
			}
		</style>
		<div class="friend-links row">
			<div class="col-xs-4 col-md-2"><a href="http://www.pep.com.cn/" target="_blank"><b>·&nbsp;</b>人民教育出版社</a></div>
			<div class="col-xs-4 col-md-2"><a href="http://www.pep.com.cn/" target="_blank"><b>·&nbsp;</b>中国书法国学网</a></div>
			<div class="col-xs-4 col-md-2"><a href="http://www.guoxue.com/" target="_blank"><b>·&nbsp;</b>中国国学网</a></div>
			<div class="col-xs-4 col-md-2"><a href="http://www.zgctwh.com.cn/" target="_blank"><b>·&nbsp;</b>中国传统文化网</a></div>
			<div class="col-xs-4 col-md-2"><a href="http://www.cse.edu.cn/" target="_blank"><b>·&nbsp;</b>中国教育学会</a></div>
			<div class="col-xs-4 col-md-2"><a href="http://www.cas.cn/" target="_blank"><b>·&nbsp;</b>中国科学院</a></div>
			<div class="col-xs-4 col-md-2"><a href="http://www.fltrp.com/" target="_blank"><b>·&nbsp;</b>外语教学与研究出版社</a></div>
			<div class="col-xs-4 col-md-2"><a href="http://www.bnu.edu.cn/" target="_blank"><b>·&nbsp;</b>北京师范大学</a></div>
			<div class="col-xs-4 col-md-2"><a href="http://www.pku.edu.cn/" target="_blank"><b>·&nbsp;</b>北京大学</a></div>
			<div class="col-xs-4 col-md-2"><a href="http://www.tsinghua.edu.cn/" target="_blank"><b>·&nbsp;</b>清华大学</a></div>
			<div class="col-xs-4 col-md-2"><a href="http://www.moj.gov.cn/" target="_blank"><b>·&nbsp;</b>中华人民共和国司法部</a></div>
			<div class="col-xs-4 col-md-2"><a href="http://www.moe.gov.cn" target="_blank"><b>·&nbsp;</b>中华人民共和国教育部</a></div>
		</div>
</div>
<br/>