<!-- 手机端栏目1 -->
<div class='sidebar visible-xs'>
	<div class='sidebar-part alibaba-trending'>
		<h2 class="sidebar-title">法律法规</h2>
		<a href="#">
			<div class="post clearfix">
				<img width="640" height="360" src="pufa/images/example/u618.jpg" class="img-responsive lazyload wp-post-image" alt="11.11 gala" sizes="(max-width: 640px) 100vw, 640px" />
				<h5 class="title">刑法之刑罚的具体运用</h5>
			</div>
		</a> <a href="#">
			<div class="post clearfix">
				<img width="640" height="360" src="pufa/images/example/u618.jpg" class="img-responsive lazyload wp-post-image" alt="11.11 gala" sizes="(max-width: 640px) 100vw, 640px" />
				<h5 class="title">刑法之刑罚的具体运用</h5>
			</div>
		</a> <a href="#">
			<div class="post clearfix">
				<img width="640" height="360" src="pufa/images/example/u618.jpg" class="img-responsive lazyload wp-post-image" alt="11.11 gala" sizes="(max-width: 640px) 100vw, 640px" />
				<h5 class="title">刑法之刑罚的具体运用</h5>
			</div>
		</a>
	</div>
</div>
<!-- 手机端栏目2 -->
<div class="sidebar visible-xs">
	<div class='sidebar-part alibaba-in-the-news'>
		<h2 class="sidebar-title">Mobile栏目2</h2>
		<hr class='visible-xs-block visible-sm-block' />
		<div class='post-excerpts'>
			<div>
				<hr class='hidden-xs hidden-sm' />
				<div class='post post-excerpt in-the-news'>
					<a href='#'>
						<h4 class="title">Mobile 题目1</h4>
					</a>
					<h6 class='source'>来源1</h6>
				</div>
			</div>
			<div>
				<hr class='hidden-xs hidden-sm' />
				<div class='post post-excerpt in-the-news'>
					<a href='#'>
						<h4 class="title">Mobile 题目2</h4>
					</a>
					<h6 class='source'>来源2</h6>
				</div>
			</div>
			<div>
				<hr class='hidden-xs hidden-sm' />
				<div class='post post-excerpt in-the-news'>
					<a href='#'>
						<h4 class="title">Mobile 题目3</h4>
					</a>
					<h6 class='source'>来源3</h6>
				</div>
			</div>
		</div>
		<hr class='hidden-xs hidden-sm' />
		<hr class='visible-xs-block visible-sm-block' />
	</div>
	<div class='sidebar-part signup'>
		<form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" _lpchecked="1">
			<h3 class='sidebar-title'>
				Mobile订阅我们<br />获取最新资讯
			</h3>
			<input type="text" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-mail" /> <input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe"
				class="action-button submit" />
		</form>
	</div>
</div>