<form class="search dropdown with-transition normal-style" action='#' method="get">
	<div class='container'>
		<div class='form-content'>
			<label class='input-label' for='search-input'>搜索</label>
			<div class='input-group'>
				<input type='text' id='edit-search-block-form--2' class='form-control' name="s" placeholder='输入搜索关键字' /> <span class='input-group-btn'>
					<button class='btn action-button default-button' type='submit' value="Search">搜索</button>
					<button class='btn close-button transparent-button hidden-xs' type='button'>&times;</button>
				</span>
			</div>
		</div>
	</div>
</form>