<div class="row">
	<div class="col-xs-6 col-sm-4 col-md-3 product-item" th:each="product : ${list.list}" style="background: none; padding: 0">
		<div style="margin: 5px; background-color: white;padding: 10px 0">
			<div class="product-pic">
				<img th:src="@{${product.pic}}" width="160px" height="120px"/>
			</div>
			<div class="product-text">
				<a href="javascript:;"><h5 th:text="${product.name}"></h5></a>
				<div>
					<a style="color: #ff5900" th:text="${product.price}">1000</a> 普法币
				</div>
			</div>
			<br />
			<div>
				<a th:href="@{/shop/buy?productId=} + ${product.uuid}" class="btn btn-primary btn-small">兑换</a>
			</div>
		</div>
	</div>
</div>