<div style="width: 95%; margin: 0 auto; position: relative;">
	<div class="slider-ad">
		<ul>
			<li>
				<div class="row" style="font-size: 16px;">
					<div class="col-xs-4 col-md-2">
						<div class="product-item" style="background: none;">
							<div class="product-pic">
								<a href="#"><img src="pufa/images/example/ad7.png"/></a>
							</div>
							<div class="product-text">
								<a href="javascript:;">心目少年学院</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4 col-md-2">
						<div class="product-item" style="background: none;">
							<div class="product-pic">
								<a href="#"><img src="pufa/images/example/ad2.png"/></a>
							</div>
							<div class="product-text">
								<a href="javascript:;">华尔街英语</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4 col-md-2">
						<div class="product-item" style="background: none;">
							<div class="product-pic">
								<a href="#"><img src="pufa/images/example/ad3.png"/></a>
							</div>
							<div class="product-text">
								<a href="javascript:;">江博教育</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4 col-md-2">
						<div class="product-item" style="background: none;">
							<div class="product-pic">
								<a href="#"><img src="pufa/images/example/ad4.png"/></a>
							</div>
							<div class="product-text">
								<a href="javascript:;">瑞斯学科英语</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4 col-md-2">
						<div class="product-item" style="background: none;">
							<div class="product-pic">
								<a href="#"><img src="pufa/images/example/ad5.png"/></a>
							</div>
							<div class="product-text">
								<a href="javascript:;">快酷英语</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4 col-md-2">
						<div class="product-item" style="background: none;">
							<div class="product-pic">
								<a href="#"><img src="pufa/images/example/ad6.png"/></a>
							</div>
							<div class="product-text">
								<a href="javascript:;">新东方</a>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>