<div style="width: 95%; margin: 0 auto; position: relative;">
	<div class="slider-ad">
		<ul>
			<li>
				<div class="row" style="font-size: 16px;">
					<div class="col-xs-4 col-md-2">
						<div class="product-item" style="background: none;">
							<div class="product-pic">
								<a href="#"><img src="pufa/images/example/ad1.png"/></a>
							</div>
							<div class="product-text">
								<a href="javascript:;">少儿保险保险金</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4 col-md-2">
						<div class="product-item" style="background: none;">
							<div class="product-pic">
								<a href="#"><img src="pufa/images/example/ad1.png"/></a>
							</div>
							<div class="product-text">
								<a href="javascript:;">少儿保险保险金</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4 col-md-2">
						<div class="product-item" style="background: none;">
							<div class="product-pic">
								<a href="#"><img src="pufa/images/example/ad1.png"/></a>
							</div>
							<div class="product-text">
								<a href="javascript:;">少儿保险保险金</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4 col-md-2">
						<div class="product-item" style="background: none;">
							<div class="product-pic">
								<a href="#"><img src="pufa/images/example/ad1.png"/></a>
							</div>
							<div class="product-text">
								<a href="javascript:;">少儿保险保险金</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4 col-md-2">
						<div class="product-item" style="background: none;">
							<div class="product-pic">
								<a href="#"><img src="pufa/images/example/ad1.png"/></a>
							</div>
							<div class="product-text">
								<a href="javascript:;">少儿保险保险金</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4 col-md-2">
						<div class="product-item" style="background: none;">
							<div class="product-pic">
								<a href="#"><img src="pufa/images/example/ad1.png"/></a>
							</div>
							<div class="product-text">
								<a href="javascript:;">少儿保险保险金</a>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>