<div class='col-md-3 sidebar-content'>
	<div class='sidebar sticky post-index-sidebar'>
		<div class='row'>
			<div class='col-sm-6 col-md-12'>
				<div class='sidebar-part alibaba-trending pufa-sidebar hidden-xs'>
					<h3 class="sidebar-title">相关推荐</h3>
					<a href="#">
						<div class="post clearfix">
							<img width="640" height="360" src="pufa/images/example/u618.jpg" class="img-responsive lazyload wp-post-image" sizes="(max-width: 640px) 100vw, 640px" />
							<h5 class="title">刑法之刑罚的具体运用</h5>
						</div>
					</a> <a href="#">
						<div class="post clearfix">
							<img width="640" height="360" src="pufa/images/example/u618.jpg" class="img-responsive lazyload wp-post-image" sizes="(max-width: 640px) 100vw, 640px" />
							<h5 class="title">刑法之刑罚的具体运用</h5>
						</div>
					</a> <a href="#">
						<div class="post clearfix">
							<img width="640" height="360" src="pufa/images/example/u784.jpg" class="img-responsive lazyload wp-post-image" sizes="(max-width: 640px) 100vw, 640px" />
							<h5 class="title">政务院关于中央人民政府所属各机关发表公报及公告性文件的办法</h5>
						</div>
					</a> <a href="#" style="color: grey; text-align: center;"><h5>查看更多</h5></a>
				</div>
				<div class='sidebar-part alibaba-trending pufa-sidebar hidden-xs'>
					<h3 class="sidebar-title">最热推荐</h3>
					<a href="#">
						<div class="post clearfix">
							<img width="640" height="360" src="pufa/images/example/u618.jpg" class="img-responsive lazyload wp-post-image" sizes="(max-width: 640px) 100vw, 640px" />
							<h5 class="title">刑法之刑罚的具体运用</h5>
						</div>
					</a> <a href="#">
						<div class="post clearfix">
							<img width="640" height="360" src="pufa/images/example/u618.jpg" class="img-responsive lazyload wp-post-image" sizes="(max-width: 640px) 100vw, 640px" />
							<h5 class="title">刑法之刑罚的具体运用</h5>
						</div>
					</a> <a href="#">
						<div class="post clearfix">
							<img width="640" height="360" src="pufa/images/example/u784.jpg" class="img-responsive lazyload wp-post-image" sizes="(max-width: 640px) 100vw, 640px" />
							<h5 class="title">政务院关于中央人民政府所属各机关发表公报及公告性文件的办法</h5>
						</div>
					</a> <a href="#" style="color: grey; text-align: center;"><h5>查看更多</h5></a>
				</div>
			</div>
			<div class='col-sm-6 col-md-12'></div>
		</div>
	</div>
</div>